@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@300;400;500;600&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', sans-serif;
    background-color: #F2F2F7;

    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

body::-webkit-scrollbar {
    display: none;
    /* Scroll barni yashirish */
}



.ios-group {
    margin: 35px 0;
}

.ios-group-label {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 6px;
}

.ios-list {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}


.ios-list-item {
    position: relative;
    cursor: pointer;
}

.ios-list-item-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50px; /* Apple uslubida chap tomonda bo‘sh joy qoldirish */
    width: calc(100% - 22px); /* Eni: chap va o‘ngdan bo‘sh joy qoldirish */
    height: 0.5px;
    background: rgba(0, 0, 0, 0.15); /* Apple’dagi chiziq ohangida */
}


.ios-list-item:last-child {
    border-bottom: none;
}

.ios-chevron {
    transition: transform 0.3s ease;
}

.ios-list-item.active .ios-chevron {
    transform: rotate(90deg);
}

.content-area {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #F8F8F8;
}

.content-area.active {
    max-height: 500px;
}

@media (min-width: 1024px) {
    .container {
        max-width: 900px;
    }
}




